{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'styles/doctorDashboardStyle.css' %}">
  <title>Doctor Dashboard</title>
</head>

<body>

  <header>
    <div class="logo">
      <h3>Medi <span>Cure</span></h3>
      <div class="hambergerMenu">
        <div id="click">
          <i class="fa-solid fa-bars fa-2xl" id="click"></i>
        </div>
      </div>
    </div>
    <nav>
      <div class="othersLinks">
        <div class="profile">
          <ul>
            <li>
              <i class="fa-solid fa-magnifying-glass fa-xl"></i>
              <div>
                <input type="text" placeholder="Type to search..." style="display:none;">
              </div>
            </li>
            <li>
              <i class="fa-solid fa-bell fa-xl"></i>
              <div class="notificationDBoard">

              </div>
            </li>
            <li>
              <div id="fullscreen">
                <i class="fa-solid fa-expand fa-xl"></i>
              </div>
              <script>
                const elem = document.documentElement;
                const fullscreen = document.getElementById('fullscreen');
                let status = false;

                fullscreen.addEventListener('click', () => {
                  if (!document.fullscreenElement) {
                    // Enter fullscreen mode
                    if (elem.requestFullscreen) {
                      elem.requestFullscreen();
                    } else if (elem.mozRequestFullScreen) {
                      elem.mozRequestFullScreen();
                    } else if (elem.webkitRequestFullscreen) {
                      elem.webkitRequestFullscreen();
                    } else if (elem.msRequestFullscreen) {
                      elem.msRequestFullscreen();
                    }
                    status = true;
                  } else {
                    // Exit fullscreen mode
                    closeFullscreen();
                    status = false;
                  }
                });
              </script>
            </li>
            <li>
              <div class="profileImageContainer">
                <img src="https://cdn-icons-png.flaticon.com/512/236/236831.png" alt="profileImage" id="profileImage">
                <div style="padding-left:10px;">
                  <h5 class="userName">{{request.user.username}}</h5>

                  <h5 class="userDegination">Doctor</h5>
                </div>
                <ul class="profileLinks" id="profileLinks">
                  <li><a href="">Profile</a></li>
                  <li><a href="">Settings</a></li>
                  <li><a href="{% url 'doctorLogOut' %}">Log Out</a></li>
                </ul>
                <script>
                  var profileImage = document.getElementById('profileImage')
                  var profileLinks = document.getElementById('profileLinks')
                  var profileDisStatus = true
                  profileLinks.style.display = 'none'

                  profileImage.onclick = () => {
                    if (profileDisStatus == false) {
                      profileLinks.style.display = 'none'
                      profileDisStatus = true
                    }
                    else {
                      profileLinks.style.display = 'inline-block'
                      profileDisStatus = false
                    }
                  }
                </script>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </nav>

  </header>

  <main>
    <div class="left" id="left">
      <ul>
        <li class="pageTopics">ADMIN</li>
        <li><i class="fa-solid fa-home fa-xl"></i><a href="">Dashboard</a></li>
        <li><i class="fa-solid fa-calendar-check fa-xl"></i><a href="">Appointments</a></li>
        <li class="pageTopics">PERSONAL</li>
        <li><i class="fa-solid fa-bell fa-xl"></i><a href="">Notifications</a></li>
        <li><i class="fa-solid fa-message fa-xl"></i><a href="">Messages</a></li>
      </ul>
    </div>
    <div class="right">
      <table class="table table-striped">
        <thead>
          <tr>
            <td></td>
            <td>AppointmentId</td>
            <td>PatientName</td>
            <td>PatientEmailId</td>
            <td>PatientPhoneNo</td>
            <td>AppointmentFor</td>
            <td>Appointment Status</td>
            <td>View</td>
          </tr>
        </thead>
        <tbody>
          {% for appointment in lst_of_appointment%}
          <tr>
            <td>
              <img
                src="https://static.vecteezy.com/system/resources/thumbnails/005/346/410/small_2x/close-up-portrait-of-smiling-handsome-young-caucasian-man-face-looking-at-camera-on-isolated-light-gray-studio-background-photo.jpg"
                alt="image" class="image">
            </td>
            <td>{{appointment.appointmentId}}</td>
            <td>{{appointment.patientName}}</td>
            <td>{{appointment.patientEmail}}</td>
            <td>{{appointment.patientPhoneNo}}</td>
            <td>{{appointment.appointmentFor}}</td>
            <td>
              <button type="button" class="btn btn-outline-danger">{{appointment.appointementStatus}}</button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-info"><a href="{% url 'acceptAppointment' appointment.appointmentId %}">view</a></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </main>

  <script>
    var hambergerMenu = document.getElementById('click')
    var leftPanel = document.getElementById('left')
    let state = false

    hambergerMenu.onclick = () => {
      if (state == false) {
        leftPanel.style.transform = 'translate(-300px,0px)'
        state = true
      }
      else {
        leftPanel.style.transform = 'translate(0px,0px)'
        state = false
      }
    }

  </script>








  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
    integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>